





<!-- <p [class]="isActive ? 'bg-info' : ''">blog works!</p>
<p
  class="p-3"
  [ngClass]="{
    'bg-danger': isActive,
    'text-light': value < 10,
  }"
  [ngStyle]="{
    'font-size': isActive ? '30px' : '50px',
    color: value > 50 ? 'red' : 'blue'
  }"
>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam nemo dicta
  animi obcaecati deleniti ut vero cumque veritatis repellat praesentium labore
  ea, voluptate, voluptas molestias quas velit optio deserunt recusandae.
</p>
<div>
  <p class="px-5" *ngFor="let friend of friends">{{ friend }}</p>
  <h2 *ngIf="isActive; else anyName">lsdklksdjsd sdjsdj sdjjkshk</h2>
  <div [ngSwitch]="value">
    <p *ngSwitchCase="10">it appears if value equal 10</p>
    <p *ngSwitchCase="11">it appears if value equal 11</p>
    <p *ngSwitchCase="12">it appears if value equal 12</p>
    <p *ngSwitchCase="13">it appears if value equal 13</p>
    <p *ngSwitchCase="14">it appears if value equal 14</p>
    <p *ngSwitchDefault>it appears if value equal 100</p>
  </div>

</div>

<ng-template #anyName>
  <h3>hello</h3>
</ng-template> -->
